*{
    font-family: 'Work Sans';
}
header{
    text-align: right;
    background-image: url(../images/banner/banner2.png);
background-size: 100%;
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    padding-top: 150px;
    color: #151414;
    margin-right: 230px;
    margin-left: 845px;
}
.header-description{
    margin-top: 24px;
    color: #151414;
    width: 494px;
height: 78px;  
margin-right: 230px;
margin-left: 876px;
}
.header-button{
    font-weight: 600;
font-size: 20px;
border: 0;
padding: 20px 25px;
border-radius: 5px;
background-color: #FD6E0A;
color: #FFFFFF;
margin-right: 59px;
margin-bottom: 100px;
}
/* failures styles */
.failures-container{
display: flex;
align-items: center;
gap: 47px;
text-align: left;
margin-top: 128px;
padding:0 264px;
margin-bottom: 129px;
}
.failure-header{
    font-weight: 700;
    font-size: 40px;
    width: 288px;
height: 94px;
color: #151414;
margin-left: 40px;
}
.failure-description{
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    color: #444343;
    margin-left: 40px;
}
.failures-list{
    list-style: none;
    gap: 10px;
    
    
}
.failures-list li{
    display: flex;
    align-items: center;
    gap: 5px; 
}
.failures-list li p{
    color: color: #444343;
}
.plans-header{
text-align: center;
font-size: 48px;
font-weight: 700;
margin-bottom: 50px;
}
.plans{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-left:150px;
    margin-right: 150px;
    margin-bottom: 112px;
}

.plan-title{
    font-weight: 700;
font-size: 30px;
color: #151414;
margin-top: 24px;
margin-bottom: 16px;
}
.contact{
  margin-left: 190px;
justify-content: space-around;
background-image: url(../images/watch.png);
background-position: center
  background-repeat: no-repeat;
  width: 1050px;
height: 300px;
margin-bottom: 130px;
border-radius: 8px;
}
.contact p{
font-weight: 700;
font-size: 40px;
color: #FFFFFF;
width: 459px;
height: 94px;
padding: 59px 0 24px 64px;
}
.call-now{
    margin-left: 64px;
    padding: 20px 36px;
    background: #FFFFFF;
border-radius: 5px;
border: 0;
font-weight: 600;
font-size: 20px;
color: #F15B22;
}
.footer{
    background-color: #151414;
    width: 975px;
height: 577px;
display: flex;
gap: 350px;
color: #F8F8F8;
padding: 130px 230px;
}
.footer-para-one{
    width: 300px;
height: 87px;
}
.future{
    font-weight: 700;
font-size: 45px;
}
.socials{
    padding-top: 32px;
}
.socials img{
    margin-right: 10px;
}
.email{
    padding-top: 25px;
}
.phone{
    padding-top: 17px;
}
.subscribe{
    font-weight: 600;
font-size: 25px;
padding-bottom: 32px;
}
.subscribe-btn{
    border: 0;
    padding: 20px 30px;
    color: #F15B22;
    background-color: #F8F8F8;
    border-radius: 8px;
    margin-top: 16px;
}