*{
    font-family: 'Work Sans';
}
header{
    text-align: right;
    background-image: url(../images/banner/banner2.png);
background-size: 100%;
}
.header-title{
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    padding-top: 150px;
    color: #151414;
    margin-right: 230px;
    margin-left: 845px;
}
.header-description{
    margin-top: 24px;
    color: #151414;
    width: 494px;
height: 78px;  
margin-right: 230px;
margin-left: 876px;
}
.header-button{
    font-weight: 600;
font-size: 20px;
border: 0;
padding: 20px 25px;
border-radius: 5px;
background-color: #FD6E0A;
color: #FFFFFF;
margin-right: 59px;
margin-bottom: 100px;
}
/* failures styles */
.failures-container{
display: flex;
align-items: center;
gap: 47px;
text-align: left;
margin-top: 128px;
padding:0 264px;
margin-bottom: 129px;
}
.failure-header{
    font-weight: 700;
    font-size: 40px;
    width: 288px;
height: 94px;
color: #151414;
margin-left: 40px;
}
.failure-description{
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    color: #444343;
    margin-left: 40px;
}
.failures-list{
    list-style: none;
    gap: 10px;
    
    
}
.failures-list li{
    display: flex;
    align-items: center;
    gap: 5px; 
}
.failures-list li p{
    color: color: #444343;
}
.plans-header{
text-align: center;
font-size: 48px;
font-weight: 700;
margin-bottom: 50px;
}
.plans{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-left:150px;
    margin-right: 150px;
    margin-bottom: 112px;
}
.contact{
    margin-left: 260px;
    background-image: url(../images/watch.png), url(../images/gradient1.png);
}
.plan-title{
    font-weight: 700;
font-size: 30px;
color: #151414;
margin-top: 24px;
margin-bottom: 16px;
}
